@import "custom";

body{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 16px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

header{
  text-align: right;
  width: 100%;
  background-color: @grey;
  color: white;
  padding: 7px 20px;
  .status{
    background-color: #9cea2e;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
  }
}

.main-page-content{
  display: flex;
  justify-content: stretch;
  height: 100%;
  .aside-bar{
    max-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    .search{
      width: 100%;
      border: none;
      height: 59px;
      min-height: 59px;
      padding-left: 20px;
    }
    .separator{
      padding: 15px 0;
      background-color: #e2e2e2;
      text-align: center;
    }
    .communities{
      overflow-y: auto;
      max-height: 100%;
      .communities-data{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        border-bottom: 1px solid #d4d4d4;
        &.selected{
          background-color: #e2e2e2;
          .title{
            font-weight: 700;
          }
        }
        .title{
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          line-height: 25px;
          padding-right: 10px;
          padding-left: 15px;
          width: 100%;
        }
        time{
          color: #9b9b9b;
          font-weight: 500;
          font-size: 12px;
        }
      }
      .communities-data-title{
        justify-content: left;
        .title{
          font-weight: bold;
        }
      }
    }
  }
  .main-bar{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    border-left: 1px solid #d4d4d4;
    .community-header{
      padding: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #f6f6f6;
      border-bottom: 1px solid #d4d4d4;
      .community-info{
        display: flex;
        align-items: center;
        img{
          margin-right: 15px;
        }
        .name{
          margin-bottom: 10px;
          font-weight: 700;
        }
        .num{
          color: #474747;
          font-size: 16px;
          margin-bottom: 10px;
        }
        .type{
          font-weight: 700;
          font-size: 14px;
        }

      }
      button{
        padding: 15px 30px;
        background-color: #6bb600;
        color: white;
        border-radius: 50px;
        border: none;
        cursor: pointer;
        outline: none;
      }
    }
    .main-bar-content{
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      .conversation{
        display: flex;
        justify-content: stretch;
        .messages{
          width: 100%;
        }
        .participants{
          overflow-y: auto;
          max-height: 100%;
          width: 300px;
          background-color: #e2e2e2;
          padding-left: 30px;
          .title{
            border-bottom: 1px solid #d4d4d4;
            padding: 30px 0 20px 0;
            font-weight: 700;
            margin-bottom: 15px;
          }
          ul{
            li{
              margin-bottom: 10px;
            }
          }
        }
      }
      .writting{
        padding: 10px;
        padding-right: 300px;
        text-align: center;
        background-color: #f6f6f6;
        border-top: 1px solid #d4d4d4;
        input{
          border: 1px solid #d4d4d4;
          padding: 10px 5px;
          width: 500px;
          outline: none;
        }
      }
    }
  }
}