@import "custom";

body{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

header{
  text-align: right;
  width: 100%;
  background-color: @grey;
  color: white;
  padding: 7px 20px;
  .status{
    background-color: #9cea2e;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
  }
}

.main-page-content{
  display: flex;
  justify-content: stretch;
  .aside-bar{
    max-width: 320px;
    .search{
      width: 100%;
      border: none;
      height: 63px;
      padding-left: 20px;
    }
    .separator{
      padding: 15px 0;
      background-color: #e2e2e2;
      text-align: center;
    }
    .communities{
      overflow-y: auto;
      max-height: 600px;
      .communities-data{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        border-bottom: 1px solid #d4d4d4;
        &.selected{
          background-color: #e2e2e2;
          .title{
            font-weight: 700;
          }
        }
        .title{
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          line-height: 25px;
          padding-right: 10px;
          padding-left: 15px;
          width: 100%;
        }
        time{
          color: #9b9b9b;
          font-weight: 500;
          font-size: 12px;
        }
      }
      .communities-data-title{
        justify-content: left;
        .title{
          font-weight: bold;
        }
      }
    }
  }
  .main-bar{
    width: 100%;
    .community-header{
      padding: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #f6f6f6;
      .community-info{
        display: flex;
        align-items: center;
        img{
          margin-right: 15px;
        }
        .name{
          margin-bottom: 10px;
          font-weight: 700;
        }
        .num{
          color: #474747;
          font-size: 16px;
          margin-bottom: 10px;
        }
        .type{
          font-weight: 700;
          font-size: 14px;
        }

      }
      button{
        padding: 15px 30px;
        background-color: #6bb600;
        color: white;
        border-radius: 50px;
        border: none;
        cursor: pointer;
        outline: none;
      }
    }
  }
}